.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.centerParent {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.centerChild {
  top: 30%
}

.landingPageWrapper {
  display: flex;
  justify-content: center;
}

.landingPageContainer {
  position: absolute;
  max-width: 50vw;
}